#body-login {
    margin: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
    flex-direction: column;
}

/* .switch-container {

    
    display: flex;
    height: 30px;
    width: 50px;
    justify-content: flex-end;
}
.switch-container > label {}
 */


.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 400px;
    padding: 30px;
    background-color: #F5F5F5;
    border: 10px solid transparent;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* .dark-mode {} */

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}