/* FORMULÁRIOS REGISTRO */
.container-register {

    display: flex;
    align-items: center;
    width: 94%;
    height: 87%;
    padding: 30px;
    background-color: #FAFAFA;
    border: 10px solid transparent;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#body-register {

    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

#form-register {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

#form-register .form-input {

    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    /* Garante que o texto da label fique à esquerda */
    width: 100%;
    /* Faz o container ocupar todo o espaço */

}

.input {
    background-color: rgb(237, 231, 231);
    position: initial;
    width: 343px;
    height: 52px;
    border: 8px solid transparent;
    border-radius: 8px;
    /* Arredonda as bordas */
    border-image-slice: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra */
    box-sizing: border-box;
    /* Inclui padding e border no tamanho total */
}

/* Estilo para os Textareas do formulário */
textarea {
    background-color: rgb(237, 231, 231);
    border: 8px solid transparent;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 61%;
    /* Garante que ocupe a largura do container */
    min-height: 100px;
    /* Define uma altura mínima */
    padding: 10px;
    /* Adiciona um espaçamento interno para o texto */
    font-family: inherit;
    /* Herda a fonte do formulário */
    font-size: inherit;
    resize: none;
}