/* FORMULÁRIOS REGISTRO */
.container-register {
  height: 88%;
  display: flex;
  align-items: center;
  width: auto;
  padding: 45px;
  background-color: var(--cor-CadModal);
  border-width: 10px 0;
  border-style: solid;
  border-color: transparent;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 8px;
}

#form-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#titulo-registro {
  font-size: 30px;
  font-weight: bold;
  margin: 1px;
  margin-top: 1px;
  color: var(--cor-texto-escuro);
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-decoration-color: var(--cor-texto-escuro);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
  flex-shrink: 0;
  margin-top: 10px;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.form-input input::placeholder,
.form-input textarea::placeholder {
  color: var(--cor-texto-escuro);
  font-size: 1.2em;
  font-family: Helvetica;
}

/* foco da borda dos inputs */
.form-input > input:focus {
  outline: 1px solid var(--cor-azul-cinza-400);
}

.form-input > textarea:focus {
  outline: 1px solid var(--cor-azul-cinza-400);
}

/* fim foco  */

#statusContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

#statusContainer label {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

#statusContainer input[type="checkbox"] {
  color: var(--cor-CadModal-texto);
  width: auto;
  height: auto;
  margin: 0;
}

.form-input label {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1.1em;
  color: var(--cor-CadModal-texto);
  text-align: start;
}

#dataNascimento {
  width: 180px;
}

.form-input .input,
.form-input textarea {
  background-color: var(--cor-fundo-input);
  padding: 10px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica";
  color: var(--cor-texto-escuro);
  caret-color: var(--cor-texto-escuro);
}

.form-input textarea {
  min-height: 90px;
  resize: none;
}

.form-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: -13px;
  /* justify-content: space-evenly; Discutir se isso seria boas práticas*/
}

.form-buttons button {
  cursor: pointer;
  transition: all 0.15s ease-out;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnCadastrar {
  background-color: var(--btnAzul-color);
  color: var(--btnTxtClaro-color);
  border: 2px solid #202e3d;
  padding: 12px 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.btnCadastrar:hover {
  background-color: var(--btnAzul-hover);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

.btnCadastrar:active {
  background-color: var(--btnAzul-pressed);
  border-color: #1a252f;
  transform: translateY(0px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.btnLimpar {
  background-color: var(--bntBranco-color);
  color: var(--btnTxtEscuro-color);
  border: 2px solid var(--bntBranco-borda);
  padding: 12px 25px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.btnLimpar:hover {
  background-color: var(--bntBranco-hover);
  color: var(--btnTxtEscuro-color);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

.btnLimpar:active {
  background-color: var(--bntBranco-pressed);
  transform: translateY(0px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

/* Estilos do Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--cor-CadModal);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal .form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.modal .form-input {
  flex: 1;
}

.modal .form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal .form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal .form-buttons button:first-child {
  background-color: var(--btnEditar-color);
  color: var(--btnTxtEscuro-color);
}

.modal .form-buttons button:last-child {
  background-color: var(--btnExcluir-color);
  color: var(--cor-texto-escuro);
}

.modal .form-buttons button:first-child:hover {
  background-color: var(--btnEditar-hover);
  color: var(--cor-texto-escuro);
}

.modal .form-buttons button:last-child:hover {
  background-color: var(--btnExcluir-hover);
  color: var(--btnTxtClaro-color);
}

/* mensagem de erro */
.form-input .labelError {
  width: auto;
  display: none !important;
  background-color: #af4242 !important;
  color: white !important;
  padding: 8px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  text-align: center !important;
  box-sizing: border-box !important;
  z-index: 10 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: static !important;
}

.form-input .labelError.display-error {
  display: block !important;
  animation: slideDown 0.7s ease-out !important;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}