.darkmode {
  --cor-fundo-bodyLogin: #232a32;
  --color-ContainerLogin: #2f3a48;

  --cor-fundo-body: #121212;

  --cor-fundo-main: #232a32;
  --cor-fundo-header: #1a202c;
  --cor-fundo-nav: #1a202c;

  --backgroundPadraoDash-color: #242933;
  --backgroundBodyPadrao-color: #1a252f;

  --cor-texto-principal: #eaecee;

  --cor-borda-sidebar: #2d3748;
  --cor-fundo-sidebar-hover: #2d3748;

  --cor-placeholders: #eaecee;
  --cor-activeHover: var(--cor-azul-cinza-200);
  --cor-texto-escuro: #eaecee;
  --cor-texto-claro: #000000;

  --cor-fundo-input: #34495e;

  /* CONTAINER LISTA CADASTRO*/
  --cor-CadastrosContainer: #263240;
  --cor-thead-table: #1a202c;
  --cor-tabela-hover: #404d5c;

  /*CARDS*/
  --cor-fundo-cards: #2d3748;
  --cor-cardH1-azul: #99bbec;
  --cor-cardH1-verde: #79d48a;
  --cor-cardH1-vermelho: #f88080;

  --cor-cardP-azul: #99bbec;
  --cor-cardP-verde: #79d48a;
  --cor-cardP-vermelho: #f88080;


  /* INVALDS */
  --cor-borda-invalida: rgb(255, 128, 128); /* Uma cor mais clara para borda */
  --cor-fundo-invalido: rgba(255, 128, 128, 0.2); /* Fundo correspondente */
  --cor-sombra-invalida: rgba(255, 128, 128, 0.1); /* Sombra mais suave */
  --cor-placeholder-invalido: rgb(255, 128, 128);

  /*REGISTRO CLIENTE*/
  --cor-CadModal: #2d3748;
  --cor-CadModal-texto: #eaecee;

  --btnAzul-color: #3498db;
  --btnAzul-hover: #5dade2;
  --btnAzul-pressed: #2e86c1;
  
  --bntBranco-color: #34495e;
  --bntBranco-hover: #4a6572;
  --bntBranco-pressed: #2c3e50;
  --bntBranco-borda: #4a6572;

  --btnImprimir-color: #ffa71b;
  --btnImprimir-hover: #f5a623;
  --btnImprimir-pressed: #e18e0a;
  --btnImprimir-borda: #e18e0a;
  --btnImprimir-txt: #252d3c;

  --btnExcluir-color: #e74c3c;
  --btnExcluir-hover: #ec7063;
  --btnExcluir-pressed: #c0392b;
  --btnExcluir-borda: #c0392b;

  --btnEditar-color: #70c930;
  --btnExcluir-color: #e74c3c;
  --btnExcluir-hover: #ec7063;
  --btnEditar-color: #2ecc71;
  --btnEditar-hover: #58d68d;
  --bordaEscura-color: #34495e;
  --bordaClara-color: #34495e;
  --placeholder-text: #8a9ba8;
  --btnLimpar-hover: #4a6572;
  --btnLimpar-pressed: #2c3e50;
  --btnTxtEscuro-color: #eaecee;
  --btnTxtClaro-color: #1a252f;
  --TextoClaro-color: #000000;
  --TextoEscuro-color: #eaecee;
  --Input-color: #1a252f;
}

#logo-dark {
  display: none;
}

.darkmode #logo-dark {
  display: block;
}

.darkmode #logo-light {
  display: none;
}

.darkmode .form input {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
  caret-color: var(--cor-texto-escuro);
}

.darkmode #form-register-adm .input {
  caret-color: var(--cor-texto-escuro);
}

#logo-darkD {
  display: none;
}

.darkmode #logo-darkD {
  display: block;
}

.darkmode #logo-lightD {
  display: none;
}

.darkmode .container > nav .sidebar a:hover {
  background-color: transparent;
  border-left: 4px solid var(--cor-activeHover);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
  /* text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7); */
  border-radius: 5%;
  transition: background-color 0.3s ease, color 0.3s ease, border-left 0.3s ease,
    text-shadow 0.3s ease;
}
