main {
  border-radius: 10px;
  background-color: transparent;
}

#body-layout-centralizado {
  background-color: var(--cor-fundo-bodyLogin);
}

.form-input > input {
  position: relative;
  background-color: var(--cor-fundo-input);
  caret-color: var(--cor-texto-escuro);
  color: var(--cor-texto-escuro);
  font-family: Helvetica;
  font-size: 20px;
  padding: 10px 40px 10px 10px; 
  border: 1px solid transparent; 
  transition: border-color 0.3s; 
}
.form-input > input::placeholder {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--cor-texto-escuro);
}

.form-input > input:focus {
  outline: 1px solid var(--bntBranco-color);
  border-color: var(--bntBranco-color);
}
.form-input > input.error {
  border-color: #ff0000; /* Vermelho */
}
.form-input > input.error::after {
  content: "!";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: #ff0000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  pointer-events: none; 
}


.container-login {
  background-color: var(--color-ContainerLogin);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  max-width: 400px;
  padding: 30px;
  border: 10px solid transparent;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 5px;
}

#enterButton {
  background-color: var(--btnAzul-color);
  color: var(--btnTxtClaro-color);
  border-color: #2c3e50;
}

#enterButton:hover {
  background-color: var(--btnAzul-hover);
  border-color: #34495e;
  transform: translateY(-2px);
}

#enterButton:active {
  background-color: var(--btnAzul-pressed);
  border-color: #1a252f;
  transform: translateY(0px);
}

#cadastroButton {
  background-color: var(--bntBranco-color);
  color: var(--btnTxtEscuro-color);
  border-color: #ced4da;
}

#cadastroButton:hover {
  background-color: var(--bntBranco-hover);
  border-color: #b6bfc8;
  color: var(--btnTxtEscuro-color);
  transform: translateY(-2px);
}

/* Efeito active do botão cadastro */
#cadastroButton:active {
  background-color: var(--bntBranco-pressed);
  border-color: #a9b1b9;
  transform: translateY(0px);
}
#logo-light {
  width: 160px;
}
#logo-dark {
  width: 160px;
}
